.parent{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.childOne{
	width:30%;
	padding:2%;
	border:1px solid #ddd;
	margin:2%;
	box-shadow: 3px 3px 3px pink;
	border-radius:20px;
	background-color: #f56487;
}

.childTwo{
	width:70%;
	padding:2%;
	border:1px solid #ddd;
	margin:2%;
	box-shadow: 3px 3px 3px pink;
	border-radius:20px;
	background-color: #b4b3e3;
}
.childTwo img1{
	width:60%;
	height:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.childOne img{
	width:40%;
	height:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
@media only screen and (min-width:1025px) and (max-width:1550px){
	.parent{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	.childOne{
		width:100%;
		padding:2%;
		border:1px solid #ddd;
		margin:2%;
		box-shadow: 3px 3px 3px pink;
		border-radius:20px;
		background-color: #fe3466;

	}
	.childOne img{
		width:100%;
		height:40%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		background-color: #b43452;
	}

.childTwo{
	width:100%;
	padding:2%;
	border:1px solid #ddd;
	margin:2%;
	box-shadow: 3px 3px 3px pink;
	border-radius:20px;
	background-color: #561878;
}
.childTwo img1{
	width 100%;
	height:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color: #fe5678;
}
}

@media only screen and (min-width:320px) and (max-width:1550px){
	.parent{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	.childOne{
		width:100%;
		padding:2%;
		border:1px solid #ddd;
		margin:2%;
		box-shadow: 3px 3px 3px pink;
		border-radius:20px;
		background-color: #fe3466;

	}
	.childOne img{
		width:100%;
		height:40%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		background-color: #b43452;
	}

.childTwo{
	width:100%;
	padding:2%;
	border:1px solid #ddd;
	margin:2%;
	box-shadow: 3px 3px 3px pink;
	border-radius:20px;
	background-color: #561878;
}
.childTwo img1{
	width 100%;
	height:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color: #45678;
}
}
